@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #fefbec;
  --background-end: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

@layer utilities {
  .square {
    clip-path: polygon(100% 2%, 12% 100%, 100% 100%);
  }

  .trapezoid {
    clip-path: polygon(0 53%, 100% 31%, 100% 100%, 0% 100%);
  }
}
